input,
button {
  border: none;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

.modal-quay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .modal-quay .anh-modal {
    width: 90vw;
    height: 50vh;
  }
}
@media (min-width: 577px) {
  .modal-quay .anh-modal {
    width: 80vw;
    height: 100%;
  }
}
@media (min-width: 992px) {
  .modal-quay .anh-modal {
    width: 800px;
    height: 450px;
  }
}
.modal-quay .vongquay-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 577px) {
  .modal-quay .vongquay-modal {
    margin-left: 50%;
  }
}
@media (min-width: 992px) {
  .modal-quay .vongquay-modal {
    right: 10%;
    top: 15%;
  }
}
.modal-quay .vongquay-modal #arrow-modal {
  position: absolute;
  top: 1%;
  z-index: 1;
}
@media (max-width: 576px) {
  .modal-quay .vongquay-modal #arrow-modal {
    border-top: 30px solid #a73b96;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
}
@media (min-width: 577px) {
  .modal-quay .vongquay-modal #arrow-modal {
    border-top: 40px solid #a73b96;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
@media (min-width: 992px) {
  .modal-quay .vongquay-modal #arrow-modal {
    border-top: 40px solid #a73b96;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
@media (max-width: 576px) {
  .modal-quay .vongquay-modal .anh-vongquay-modal {
    width: 90%;
    height: 100%;
  }
}
@media (min-width: 577px) {
  .modal-quay .vongquay-modal .anh-vongquay-modal {
    width: 80%;
    height: 50%;
  }
}
@media (min-width: 992px) {
  .modal-quay .vongquay-modal .anh-vongquay-modal {
    width: 300px;
    height: 300px;
  }
}
.modal-quay .vongquay-modal .btXoay {
  position: absolute;
  text-align: center;
  background-color: #fd79a8;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
@media (max-width: 576px) {
  .modal-quay .vongquay-modal .btXoay {
    padding: 3%;
    bottom: -20%;
  }
  .modal-quay .vongquay-modal .btXoay:hover {
    background-color: #e419c6;
  }
}
@media (min-width: 577px) {
  .modal-quay .vongquay-modal .btXoay {
    padding: 2%;
    bottom: -15%;
  }
  .modal-quay .vongquay-modal .btXoay:hover {
    background-color: #e419c6;
  }
}
@media (min-width: 992px) {
  .modal-quay .vongquay-modal .btXoay {
    padding: 10px 20px;
    font-size: 20px;
    bottom: -15%;
  }
  .modal-quay .vongquay-modal .btXoay:hover {
    background-color: #e419c6;
  }
}
@media (max-width: 576px) {
  .modal-quay .btn-cancel {
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 4px;
    color: rgb(225, 220, 220);
    cursor: pointer;
  }
}
@media (min-width: 577px) {
  .modal-quay .btn-cancel {
    position: absolute;
    font-size: 40px;
    top: 5px;
    right: 4px;
    color: rgb(225, 220, 220);
    cursor: pointer;
  }
}/*# sourceMappingURL=Modal.css.map */